@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Poppins";
}

body {
     background-size: cover;
     font-family: Poppins;
     font-size: 13px;
     margin: 0;
}

.wrapper .inner {
    display: flex;
    align-items: center;
}

.image-holder {
    width: 40%;
    height: 100vh;
    background-image:url(student.png) ;
    color: white;
}

.form-holder{
    width: 60%;
    height: 100vh;
    padding: 30px;
}

.outter .kodecamp{
    display: flex;
    justify-content: flex-end;
}

.form-group{
    display: flex;
    gap: 10px;
}

label{
    display: block;
}

.form-input{
    width: 50%;
}

.form-input input, .form-input select{
    width: 100%;
}

.form button{
    justify-content: flex-end;
}


